<%- include('partials/header') %>
        <%- include('partials/nav') %>
                <main class="main">

                        <section id="banner-shop" class="blog-banner">

                                <h2>#Gaming Area</h2>
                                <p>Everything is stock right now!!!</p>
                            
                            </section>

                        <section class="blog">

                                <div class="blog-box">
                                        <div class="blog-img">
                                                <img src="images/category/valorant.jpg" alt="" width="120%">
                                        </div>
                                        <div class="blog-details">
                                                <h4>NEW BUNDLE VALORANT</h4>
                                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
                                                        sapiente porro, aspernatur eaque neque reiciendis itaque nostrum
                                                        dolore exercitationem ipsam, possimus optio rerum distinctio vel
                                                        quis temporibus, quos quam? Nesciunt? Lorem, ipsum dolor sit
                                                        amet consectetur adipisicing elit. Nesciunt necessitatibus,
                                                        magnam vel ex, cumque architecto eum tempora illum esse,
                                                        repellendus nostrum consequatur distinctio blanditiis quidem
                                                        delectus? Distinctio sed incidunt quo. Lorem ipsum, dolor sit
                                                        amet consectetur adipisicing elit. In
                                                        voluptatum omnis odio rerum quo explicabo eaque a nobis fugit
                                                        nihil exercitationem cum officiis minima rem, assumenda natus
                                                        incidunt. Quae, vitae.</P>
                                                <a href="#">CONTINUE READING</a>
                                        </div>
                                        <H1>25/04</H1>
                                </div>

                                <div class="blog-box">
                                        <div class="blog-img">
                                                <img src="images/category/RE4-2.jpg" alt="" width="120%">
                                        </div>
                                        <div class="blog-details">
                                                <h4>RE4 REMAKE MANAGED TO ACHIEVE SUCCESS WITH THE MOST SERIES SALES</h4>
                                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
                                                        sapiente porro, aspernatur eaque neque reiciendis itaque nostrum
                                                        dolore exercitationem ipsam, possimus optio rerum distinctio vel
                                                        quis temporibus, quos quam? Nesciunt? Lorem, ipsum dolor sit
                                                        amet consectetur adipisicing elit. Nesciunt necessitatibus,
                                                        magnam vel ex, cumque architecto eum tempora illum esse,
                                                        repellendus nostrum consequatur distinctio blanditiis quidem
                                                        delectus? Distinctio sed incidunt quo. Lorem ipsum, dolor sit
                                                        amet consectetur adipisicing elit. In
                                                        voluptatum omnis odio rerum quo explicabo eaque a nobis fugit
                                                        nihil exercitationem cum officiis minima rem, assumenda natus
                                                        incidunt. Quae, vitae.</P>
                                                <a href="#">CONTINUE READING</a>
                                        </div>
                                        <H1>20/04</H1>
                                </div>

                                <div class="blog-box">
                                        <div class="blog-img">
                                                <img src="images/category/gENSHIN.png" alt="" width="120%">
                                        </div>
                                        <div class="blog-details">
                                                <h4>NEW UPDATE GENSHIN IMPACT 3.6</h4>
                                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
                                                        sapiente porro, aspernatur eaque neque reiciendis itaque nostrum
                                                        dolore exercitationem ipsam, possimus optio rerum distinctio vel
                                                        quis temporibus, quos quam? Nesciunt? Lorem, ipsum dolor sit
                                                        amet consectetur adipisicing elit. Nesciunt necessitatibus,
                                                        magnam vel ex, cumque architecto eum tempora illum esse,
                                                        repellendus nostrum consequatur distinctio blanditiis quidem
                                                        delectus? Distinctio sed incidunt quo. Lorem ipsum, dolor sit
                                                        amet consectetur adipisicing elit. In
                                                        voluptatum omnis odio rerum quo explicabo eaque a nobis fugit
                                                        nihil exercitationem cum officiis minima rem, assumenda natus
                                                        incidunt. Quae, vitae.</P>
                                                <a href="#">CONTINUE READING</a>
                                        </div>
                                        <H1>1/04</H1>
                                </div>

                                <div class="blog-box">
                                        <div class="blog-img">
                                                <img src="images/category/ml.jpg" alt="" width="120%">
                                        </div>
                                        <div class="blog-details">
                                                <h4>NEW EVENT MLBB ALLSTAR EVENT</h4>
                                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
                                                        sapiente porro, aspernatur eaque neque reiciendis itaque nostrum
                                                        dolore exercitationem ipsam, possimus optio rerum distinctio vel
                                                        quis temporibus, quos quam? Nesciunt? Lorem, ipsum dolor sit
                                                        amet consectetur adipisicing elit. Nesciunt necessitatibus,
                                                        magnam vel ex, cumque architecto eum tempora illum esse,
                                                        repellendus nostrum consequatur distinctio blanditiis quidem
                                                        delectus? Distinctio sed incidunt quo. Lorem ipsum, dolor sit
                                                        amet consectetur adipisicing elit. In
                                                        voluptatum omnis odio rerum quo explicabo eaque a nobis fugit
                                                        nihil exercitationem cum officiis minima rem, assumenda natus
                                                        incidunt. Quae, vitae.</P>
                                                <a href="#">CONTINUE READING</a>
                                        </div>
                                        <H1>30/03</H1>
                                </div>



                        </section>

                </main>
                <%- include('partials/footer') %>