<%- include('partials/header') %>
        <%- include('partials/nav') %>
            <main class="content">
                <section class="opening">
                    
                </section>
                <section class="category" id="category">
                    <a href="/" class="banner">
                        <img src="images/banner/home-banner-1.jpg" alt="banner" style="width: 100%; margin: 24px 0; border: 4px cyan solid inset;">
                    </a>
                    <h1>Category</h1>
                    <div class="cat-container">
                        <a href="/">
                            <div class="cat-box">
                                <img src="images/category/pc & bundles.png" alt="PC & Bundles" title="PC & Bundles">
                                <span class="cat-name">PC & Bundles</span>
                            </div>
                        </a>
                        </a>
                        <a href="/">
                            <div class="cat-box">
                                <img src="images/category/motherboard.png" alt="Motherboard" title="Motherboard">
                                <span class="cat-name">Motherboard</span>
                            </div>
                        </a>
                        <a href="/">
                            <div class="cat-box">
                                <img src="images/category/ssd & ram.png" alt="SSD & RAM" title="SSD & RAM">
                                <span class="cat-name">SSD & RAM</span>
                            </div>
                        </a>
                        <a href="/">
                            <div class="cat-box">
                                <img src="images/category/vga.png" alt="VGA" title="VGA">
                                <span class="cat-name">VGA</span>
                            </div>
                        </a>
                        <a href="/">
                            <div class="cat-box">
                                <img src="images/category/cpu.png" alt="CPU" title="CPU">
                                <span class="cat-name">CPU</span>
                            </div>
                        </a>
                        <a href="/">
                            <div class="cat-box">
                                <img src="images/category/monitor.png" alt="Monitor" title="Monitor">
                                <span class="cat-name">Monitor</span>
                            </div>
                        </a>
                    </div>
                </section>
            </main>
    <%- include('partials/footer') %>